{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FLAT ICON ===============-->
   <link
   rel="stylesheet"
   href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
   />

   <!--=============== SWIPER CSS ===============-->
   <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
   />

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{% static "web/css/styles.css" %}" />

   {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> {% endcomment %}

    <title>E-commerce Website</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header">
      <div class="header__top">
        <div class="header__container container">
          <div class="header__contact">
            <span>(+34)-9456-7234</span>

            <span>Our location</span>
          </div>

          <p class="header__alert-news">
            Super Value Deals - Save more with coupons
          </p>

          <a href="{% url "login" %}" class="header__top-action">
            Login / Register
          </a>
        </div>
      </div>

      <!-- NavBar -->
      <nav class="nav container">
        <a href="{% url "index" %}" class="nav__log">
          <img src="{% static "web/images/logo.svg" %}" alt="" class="nav__log-img" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="{% url "index" %}" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="{% url "shop" %}" class="nav__link">Shop</a>
            </li>
            <li class="nav__item">
              <a href="{% url "accounts" %}" class="nav__link">My Account</a>
            </li>
            <li class="nav__item">
              <a href="{% url "compare" %}" class="nav__link">Compare</a>
            </li>
            <li class="nav__item">
              {% if user.is_authenticated %}
              <a href="{% url "log" %}" class="nav__link">Logout</a>

              {% else %}
              <a href="{% url "login" %}" class="nav__link active-link">Login</a>
              {% endif %}
            </li>
          </ul>

          <div class="header__search">
            <input
              type="text"
              placeholder="Search for items"
              class="form__input"
            />

            <button class="search__btn">
              <img src="{% static "web/images/search.png" %}" alt="" width="25px" />
            </button>
          </div>
        </div>

        <div class="header__user-actions">
          <a href="{% url "wishlist" %}" class="header__action-btn">
            <img src="{% static "web/images/icon-heart.svg" %}" alt="" />
            <span class="count">{{request.session.cart|length}}</span>
          </a>
          <a href="{% url "cart_detail" %} " class="header__action-btn">
            <img src="{% static "web/images/icon-cart.svg" %}" alt="" />
            <span class="count">{{request.session.cart|length}}</span>
          </a>
        </div>
      </nav>
    </header>

    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== BREADCRUMB ===============-->
      <section class="breadcrumb"> 
        <ul class="breadcrumb__list flex container">
          <li><a href="{% url "index" %}" class="breadcrumb__link">Home</a></li>
          <li><span class="breadcrumb__link">></span></li>
          <li><span class="breadcrumb__link">Login / Register</span>
        </ul>
      </section>

      <!--=============== LOGIN-REGISTER ===============-->
      <section class="login-register section--lg">
        <div class="login-register__container container grid">
          <div class="login">
            <h3 class="section__title">Login</h3>

            <form action="" class="form grid" method="POST">
              {% csrf_token %}
              {% include "web/messages.html" %}
              <input type="text" placeholder="Username" class="form__input" name="username">
              <input type="password" placeholder="Password" class="form__input" name="password">

              <div class="form__btn">
                <button type="submit" class="btn">Log in</button>
              </div>
              <p class="form__footer">Don't have an account?<a href="{% url "register" %}" class="form__link"> Register now
                &#8617;</a></p>
            </form>
          </div>
          <!-- <div class="register">
            <h3 class="section__title">Create an Account</h3>

            <form action="" class="form grid">
              <input type="text" placeholder="First Name" class="form__input">
              <input type="text" placeholder="Last Name" class="form__input">
              <input type="email" placeholder="Email Address" class="form__input">
              <input type="tel" placeholder="Phone Number" class="form__input">
              <input type="password" placeholder="Password" class="form__input">
              <input type="password" placeholder="Confirm Password" class="form__input">

              <div class="form__btn">
                <button type="submit" class="btn">Register</button>
              </div>
            </form>
          </div> -->
        </div>
      </section>

      <!--=============== NEWSLETTER ===============-->
      <section class="newsletter section home__newsletter">
        <div class="newsletter__container container grid">
          <h3 class="newsletter__title flex">
            <img
              src="{% static "web/images/icon-email.svg" %}"
              alt=""
              class="newsletter__icon"
            />
            Sign up for our newsletter!
          </h3>
          <p class="newsletter__text">
            Get the latest updates and special offers.
          </p>
          <form action="#" method="POST" class="newsletter__form">
            <input
              type="text"
              placeholder="Enter your Email"
              class="newsletter__input"
            />
            <button type="submit" class="newsletter__btn">Subscribe</button>
          </form>
        </div>
      </section>
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer container">
      <div class="footer__container grid">
        <div class="footer__content">
          <a href="{% url "index" %}" class="footer__logo">
            <img src="{% static "web/images/logo.svg" %}" alt="" class="footer__logo-img" />
          </a>

          <h4 class="footer__subtitle">Contact</h4>
          <p class="footer__description">
            <span>Address: </span> 562 Wellington Road, Street 32, San Francisco
          </p>
          <p class="footer__description">
            <span>Phone: </span> +01 2222 365 / (+91) 01 2345 6789
          </p>
          <p class="footer__description">
            <span>Hours: </span> 10:00 - 18:00, Mon - Sat
          </p>

          <div class="footer__social">
            <h4 class="footer__subtitle">Follow Me </h4>

            <div class="footer__social-links flex">
              <a href="">
                <img src="{% static "Web/images/icon-facebook.svg" %}" alt="" class="footer__social-icon">
              </a>
              <a href="">
                <img src="{% static "web/images/icon-instagram.svg" %}" alt="" class="footer__social-icon">
              </a>
              <a href="">
                <img src="{% static "web/images/icon-pinterest.svg" %}" alt="" class="footer__social-icon">
              </a>
              <a href="">
                <img src="{% static "web/images/icon-twitter.svg" %}" alt="" class="footer__social-icon">
              </a>
            </div>
          </div>
        </div>

        <div class="footer__content">
          <h4 class="footer__title">Address</h4>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">About Us</a></li>
            <li><a href="#" class="footer__link">Delivery Information</a></li>
            <li><a href="#" class="footer__link">Privacy Policy</a></li>
            <li><a href="#" class="footer__link">Terms & Conditions</a></li>
            <li><a href="#" class="footer__link">Contact Us</a></li>
            <li><a href="#" class="footer__link">Support Center</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h4 class="footer__title">My Account</h4>
          <ul class="footer__links">
            <li><a href="{% url "register" %}" class="footer__link">Sign In</a></li>
            <li><a href="#" class="footer__link">View Cart</a></li>
            <li><a href="#" class="footer__link">My wishlist</a></li>
            <li><a href="#" class="footer__link">Help</a></li>
            <li><a href="#" class="footer__link">Order</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Secured Payment Gateways</h3>

          <img src="{% static "web/images/Paymentmethods/american-express.png" %}" alt="" class="payment__img" width="50px">
          <img src="{% static "web/images/Paymentmethods/apple-pay.png" %}" alt="" class="payment__img" width="50px">
          <img src="{% static "web/images/Paymentmethods/paypal.png" %}" alt="" class="payment__img" width="50px"> 
          <img src="{% static "web/images/Paymentmethods/visa (1).png" %}" alt="" class="payment__img" width="50px">
        </div>
      </div>

      <div class="footer__bottom">
        <span class="footer__copyright">© 2021, E-commerce Store. All rights reserved.</span>
        
      </div>
    </footer>

    <!--=============== SWIPER JS ===============-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="{% static "web/js/main.js" %}"></script>

    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> {% endcomment %}
  </body>
</html>
{% endblock %}