{% load static %}
{% block content %}
{% load cart_tag %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FLAT ICON ===============-->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />

    <!--=============== SWIPER CSS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static "web/css/styles.css" %}" />

    <title>E-commerce Website</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header">
      <div class="header__top">
        <div class="header__container container">
          <div class="header__contact">
            <span>(+34)-9456-7234</span>

            <span>Our location</span>
          </div>

          <p class="header__alert-news">
            Super Value Deals - Save more with coupons
          </p>

          <a href="{% url "login" %}" class="header__top-action">
            Login / Register
          </a>
        </div>
      </div>

      <!-- NavBar -->
      <nav class="nav container">
        <a href="{% url "index" %}" class="nav__log">
          <img src="{% static "web/images/logo.svg" %}" alt="" class="nav__log-img" />
        </a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="{% url "index" %}" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="{% url "shop" %}" class="nav__link">Shop</a>
            </li>
            <li class="nav__item">
              <a href="{% url "compare" %}" class="nav__link">My Account</a>
            </li>
            <li class="nav__item">
              <a href="{% url "compare" %}" class="nav__link">Compare</a>
            </li>
            <li class="nav__item">
              {% if user.is_authenticated %}
              <a href="{% url "log" %}" class="nav__link">Logout</a>

              {% else %}
              <a href="{% url "login" %}" class="nav__link">Login</a>
              {% endif %}
            </li>
          </ul>

          <div class="header__search">
            <input
              type="text"
              placeholder="Search for items"
              class="form__input"
            />

            <button class="search__btn">
              <img src="{% static "web/images/search.png" %}" alt="" width="25px" />
            </button>
          </div>
        </div>

        <div class="header__user-actions">
          <a href="{% url "wishlist" %}" class="header__action-btn">
            <img src="{% static "web/images/icon-heart.svg" %}" alt="" />
            <span class="count">{{request.session.cart|length}}</span>
          </a>
          <a href="{% url "cart_detail" %}" class="header__action-btn">
            <img src="{% static "web/images/icon-cart.svg" %}" alt="" />
            <span class="count">{{request.session.cart|length}}</span>
          </a>
        </div>
      </nav>
    </header>


    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== BREADCRUMB ===============-->
      <section class="breadcrumb"> 
        <ul class="breadcrumb__list flex container">
          <li><a href="{% url "index" %}" class="breadcrumb__link">Home</a></li>
          <li><span class="breadcrumb__link">></span></li>
          <li><span class="breadcrumb__link">Shop</span>
          <li><span class="breadcrumb__link">></span></li>
          <li><span class="breadcrumb__link">Checkout</span>
        </ul>
      </section>

      <!--=============== CHECKOUT ===============-->
      <section class="checkout section--lg">
        <div class="checkout__container container grid">
          <form action="{% url "placeOrder" %}" class="form1" method="POST">
            {% csrf_token %}
            <div class="checkout__group">
              <h3 class="section__title">Billing Details</h3>

              
                <input type="text" placeholder="Name" class="form__input-1" name="name" required>

                <input type="text" placeholder="Address" class="form__input-1" name="address" required>

                <input type="text" placeholder="City" class="form__input-1" name="city" required> 

                <select name="country" id="" class="form__input-1 form__dropdown" required>
                  <option value="">Country</option>
                  <option value="usa">USA</option>
                  <option value="canada">Canada</option>
                  <option value="uk">UK</option>
                </select>

                <input type="text" placeholder="Postal Code" class="form__input-1" name="zipcode" required>

                <input type="email" placeholder="Email Address" class="form__input-1" name="email" required>

                <input type="tel" placeholder="Phone Number" class="form__input-1" name="phone" required>

                <h3 class="checkout__title">Additional Information</h3>

                <textarea name="note" placeholder="Order note" id="" cols="30" rows="10" class="form__input-1 textarea"></textarea>
              
            </div>

          <div class="checkout__group">
            <h3 class="section__title">Cart Totals</h3>
            
            <table class="order__table">
              <tr>
                <th colspan="2">Products</th>
                <th>Total</th>
              </tr>
              {% for key,value in request.session.cart.items %}
              <tr>
                
                <td>
                  <img src="{{value.image}}" alt="" class="order__img">
                </td>

                <td>
                  <h3 class="table__title">{{value.name}}x{{value.quantity}}</h3>
                  {% comment %} <h3 class="table__title">Yidarton Women Summer Blue</h3> {% endcomment %}
                  <p class="table__quantity"></p>
                </td>

                <td>
                  <span class="table__price">${{ value.price|multiply:value.quantity }}</span>
                </td>
                {% endfor %}
              </tr>

              {% comment %} <tr>
                <td>
                  <img src="{% static "web/images/product-2-1.jpg" %}" alt="" class="order__img">
                </td>

                <td>
                  <h3 class="table__title">LDB MOON Women Summer</h3>
                  <p class="table__quantity">x 1</p>
                </td>

                <td>
                  <span class="table__price">$60.00</span>
                </td>
              </tr> {% endcomment %}

              {% comment %} <tr>
                <td>
                  <img src="{% static "web/images/product-7-2.jpg" %}" alt="" class="order__img">
                </td>

                <td>
                  <h3 class="table__title">Women's Short Sleeve Loose</h3>
                  <p class="table__quantity">x 2</p>
                </td>

                <td>
                  <span class="table__price">$40.00</span>
                </td>
              </tr> {% endcomment %}

              <tr>
                <td>
                  <span class="order__title">Subtotal</span>
                </td>
                <td colspan="2">
                  <span class="table__price">${{ cart_total_amount}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="order__title">Shipping & Handling (Flat rate)</span>
                </td>
                <td colspan="2">
                  <span class="table__price">$5.99</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="order__subtitle order__subtitle--bold">Total</span>
                </td>
                <td colspan="2">
                  <span class="table__price--bold">${{ cart_total_amount|add:5.99}}</span>
                </td>
              </tr>
             
            </table>
            

            <div class="payment__methods">
              <h3 class="checkout__title payment__title">Payment</h3>

              <div class="payment__option flex">
                <input type="radio" name="payments" id="card" class="payment__input" checked>
                <label for="card" class="payment__label">Credit Card</label>
              </div>
              <div class="payment__option flex">
                <input type="radio" name="payments" id="card" class="payment__input" checked>
                <label for="card" class="payment__label">Paypal</label>
              </div>
              <div class="payment__option flex">
                <input type="radio" name="payments" id="card" class="payment__input" checked>
                <label for="card" class="payment__label">Check Payment</label>
              </div>
            </div>

            <a href="{% url "placeOrder" %}" class="flex btn--sm">
              <button class="btn flex">Place Order</button>
            </a>
          </div>
        </form>
        </div>
      </section>

      <!--=============== NEWSLETTER ===============-->
      <section class="newsletter section home__newsletter">
        <div class="newsletter__container container grid">
          <h3 class="newsletter__title flex">
            <img
              src="{% static "web/images/icon-email.svg" %}"
              alt=""
              class="newsletter__icon"
            />
            Sign up for our newsletter!
          </h3>
          <p class="newsletter__text">
            Get the latest updates and special offers.
          </p>
          <form action="#" method="post" class="newsletter__form">
            <input
              type="text"
              placeholder="Enter your Email"
              class="newsletter__input"
            />
            <button type="submit" class="newsletter__btn">Subscribe</button>
          </form>
        </div>
      </section>
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer container">
      <div class="footer__container grid">
        <div class="footer__content">
          <a href="index.html" class="footer__logo">
            <img src="{% static "web/images/logo.svg" %}" alt="" class="footer__logo-img" />
          </a>

          <h4 class="footer__subtitle">Contact</h4>
          <p class="footer__description">
            <span>Address: </span> 562 Wellington Road, Street 32, San Francisco
          </p>
          <p class="footer__description">
            <span>Phone: </span> +01 2222 365 / (+91) 01 2345 6789
          </p>
          <p class="footer__description">
            <span>Hours: </span> 10:00 - 18:00, Mon - Sat
          </p>

          <div class="footer__social">
            <h4 class="footer__subtitle">Follow Me </h4>

            <div class="footer__social-links flex">
              <a href="">
                <img src="{% static "web/images/icon-facebook.svg" %}" alt="" class="footer__social-icon">
              </a>
              <a href="">
                <img src="{% static "web/images/icon-instagram.svg" %}" alt="" class="footer__social-icon">
              </a>
              <a href="">
                <img src="{% static "web/images/icon-pinterest.svg" %}" alt="" class="footer__social-icon">
              </a>
              <a href="">
                <img src="{% static "web/images/icon-twitter.svg" %}" alt="" class="footer__social-icon">
              </a>
            </div>
          </div>
        </div>

        <div class="footer__content">
          <h4 class="footer__title">Address</h4>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">About Us</a></li>
            <li><a href="#" class="footer__link">Delivery Information</a></li>
            <li><a href="#" class="footer__link">Privacy Policy</a></li>
            <li><a href="#" class="footer__link">Terms & Conditions</a></li>
            <li><a href="#" class="footer__link">Contact Us</a></li>
            <li><a href="#" class="footer__link">Support Center</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h4 class="footer__title">My Account</h4>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Sign In</a></li>
            <li><a href="#" class="footer__link">View Cart</a></li>
            <li><a href="#" class="footer__link">My wishlist</a></li>
            <li><a href="#" class="footer__link">Help</a></li>
            <li><a href="#" class="footer__link">Order</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Secured Payment Gateways</h3>

          <img src="{% static "web/images/Paymentmethods/american-express.png" %}" alt="" class="payment__img" width="50px">
          <img src="{% static "web/images/Paymentmethods/apple-pay.png" %}" alt="" class="payment__img" width="50px">
          <img src="{% static "web/images/Paymentmethods/paypal.png" %}" alt="" class="payment__img" width="50px"> 
          <img src="{% static "web/images/Paymentmethods/visa (1).png" %}" alt="" class="payment__img" width="50px">
        </div>
      </div>

      <div class="footer__bottom">
        <span class="footer__copyright">© 2021, E-commerce Store. All rights reserved.</span>
        
      </div>
    </footer>

    <!--=============== SWIPER JS ===============-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="{% static "web/js/main.js" %}"></script>
  </body>
</html>
{% endblock %}